/*
* www.github.com/bradplos/new-tab-page
*/

/* --------------------------------------------------
  table of contents
	-----------------
	html element changes
	category titles
	links
	seperator [>>]
	seperator [-]
	search input
	search form
	container
-------------------------------------------------- */

/* --------------------------------------------------
HTML ELEMENT CHANGES
-------------------------------------------------- */
span
{
	font-family: monospace; /* changes the general font ie. title, seperators 1&2, link */
}

a
{
	text-decoration: none;
}

body
{
	background-color: #424242;
}

/* --------------------------------------------------
CATEGORY TITLES
-------------------------------------------------- */
.title
{
	color: #7986cb;
	font-weight: bold;
	font-size:0.875rem;
}

/* --------------------------------------------------
LINKS
-------------------------------------------------- */
.link
{
	color: #bdbdbd;
	font-size:1rem;
}

/* --------------------------------------------------
SEPERATOR [>>]
-------------------------------------------------- */
.seperator-1
{
	color: #5c6bc0;
	font-size:1rem;
}

/* --------------------------------------------------
SEPERATOR [-]
-------------------------------------------------- */
.seperator-2
{
	color: #5c6bc0;
	font-size:1rem;
}

/* --------------------------------------------------
SEARCh INPUT
-------------------------------------------------- */
.search
{
	width:100%; /*leave as-is to fill bar*/
	border:none; /*removes the white border around input*/
	height:2rem;
	color:#bdbdbd;
	padding-left :.5rem;
	padding-right:.5rem;
	background-color:transparent;
		-webkit-box-sizing: border-box; /*box-sizing - leave as-is*/
       -moz-box-sizing: border-box; /* ^ */
            box-sizing: border-box; /* ^ */
}

/* --------------------------------------------------
SEARCH FORM
-------------------------------------------------- */
.search-bar
{
	max-width:38rem;
	border-bottom: solid .25vh #7986cb; /*adds the colored bar at the bottom of the search*/
}

/* --------------------------------------------------
CONTAINER
-------------------------------------------------- */
.container
{
	width:85%;
	margin:0 auto;
	padding:0;
}

@media (min-width: 25.000em) {
	.container{
		width:85%;
	}
}

@media (min-width: 34.375em) {
	.container{
		width:80%;
	}
}

@media (min-width: 46.875em) {
	.container{
		width:38rem;
	}
}

@media (min-width: 62.500em) {
	.container{
		width:38rem;
	}
}

@media (min-width: 75.000em) {
	.container{
		width:38rem;
	}
}
